
<h1>VanGo</h1>

  <h3>Weather</h3>
  <div class="row">
    <div class="col-sm-3">{{weather.name}}</div>
    <div class="col-sm-3">Temp: {{weather.main.temp | kelvinToFahrenheit}} F</div>
    <div class="col-sm-3">Wind: {{weather.wind.speed}}</div>
    <div class="col-sm-3">Humidity: {{weather.main.humidity}}</div>
  </div>


  <h3>To Work</h3>
  <h5>Trains - Court House Metro station</h5>
  <div class="row" ng-repeat="train in trainsHeadingWork">
    <div class="col-sm-5">Direction: {{train.DestinationName}}</div>
    <div class="col-sm-2">Line: {{train.Line}}</div>
    <div class="col-sm-2">Min: {{train.Min}}</div>
    <div class="col-sm-3">Arrival: {{train.ArrivalTime}}</div>
  </div>

  <h5>3Y Bus - Rt 29 Lee Hwy + Cleveland St</h5>
  <div ng-hide="no_buses_running_work" class="row" ng-repeat="bus in busesHeadingWork">
    <div class="col-sm-6">Direction: {{bus.DirectionText}}</div>
    <div class="col-sm-3">Min: {{bus.Minutes}}</div>
    <div class="col-sm-3">Arrival: {{bus.ArrivalTime}}</div>
  </div>
  <div ng-show="no_buses_running_work">
    <div class="row text-center">NO BUSES RUNNING</div>
  </div>




  <h3>To Home</h3>


  <h5>Trains - McPherson Square Metro station</h5>
  <div class="row" ng-repeat="train in trainsHeadingHome">
    <div class="col-sm-5">Direction: {{train.DestinationName}}</div>
    <div class="col-sm-2">Line: {{train.Line}}</div>
    <div class="col-sm-2">Min: {{train.Min}}</div>
    <div class="col-sm-3">Arrival: {{train.ArrivalTime}}</div>
  </div>

  <h5>3Y Bus - 15th St Nw + I St Nw & K St Nw</h5>
  <div ng-hide="no_buses_running_home" class="row" ng-repeat="bus in busesHeadingHome">
    <div class="col-sm-6">Direction: {{bus.DirectionText}}</div>
    <div class="col-sm-3">Min: {{bus.Minutes}}</div>
    <div class="col-sm-3">Arrival: {{bus.ArrivalTime}}</div>
  </div>
  <div ng-show="no_buses_running_home">
    <div class="row text-center">NO BUSES RUNNING</div>
  </div>



  <h2>SVG</h2>
<!--
  <svg width="600" height="400" style="background:#93A1A1">
    <rect x="250" y="150" width="100" height="100" style="fill:#C61C6F"></rect>
    <circle cx="300" cy="200" r="50" style="fill:#840043"></circle>
    <text x="10" y="390" font-family="sans-serif" font-size="25" fill="gray">SVG Graphics</text>


    <g id="triangle">
      <polyline points="10 35, 30 10, 50 35" style="fill:#F7B330;"></polyline>
      <polyline points="10 35, 50 10, 50 35" style="fill:red;"></polyline>
      <polyline points="0 15, 30 10, 50 35" style="fill:pink;"></polyline>
    </g>
    <use xlink:href="#triangle" x="30" y="0"></use>
  </svg>
-->
  <h2>D3</h2>
  <div id="chart"></div>

<div id="bikestations">
    <div>data1</div>
    <script id="bikestationdata" src="https://www.capitalbikeshare.com/data/stations/bikeStations.xml" charset="utf-8"></script>
    <div>data2</div>
</div>