
<div class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">

      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a class="navbar-brand" href="#/">vanoverboard</a>

    </div>

    <div class="collapse navbar-collapse" id="js-navbar-collapse">

      <ul class="nav navbar-nav">
        <li class="active"><a ng-href="#/blog">blog</a></li>
        <li><a ng-href="#/projects">projects</a></li>
      </ul>
    </div>
  </div>
</div>

<!-- content below -->
<blog-teaser ng-click="loadArticle('gulp-vs-grunt')" pubdate="Nov 8, 2015">Gulp vs. Grunt: This time it's personal.</blog-teaser>
<blog-teaser article="bar-tab" pubdate="Nov 7, 2015">App Idea: I can't be bothered to close out my bar tab.</blog-teaser>
<blog-teaser article="bike-vs-run" pubdate="Nov 6, 2015">Bike vs. Run commuting ... let's get it on!</blog-teaser>
<blog-teaser article="react" pubdate="Nov 5, 2015">Where does React.js fit in?</blog-teaser>
<blog-teaser article="learn-phyton" pubdate="Nov 4, 2015">Java programmers: Why learn Phyton?</blog-teaser>

<!-- footer -->
<div class="footer">
  <div class="container center-text">
    <img src="images/littlevan-footer.png" height="32" width="32">
  </div>
</div>
