<div class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">

      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a class="navbar-brand" href="#/">vanoverboard</a>

    </div>

    <div class="collapse navbar-collapse" id="js-navbar-collapse">

      <ul class="nav navbar-nav">
        <li><a href="#/">van nguyen</a></li>
        <li><a ng-href="#/blog">blog</a></li>
        <li class="active"><a ng-href="#/projects">projects</a></li>
      </ul>
    </div>
  </div>
</div>

<!-- content below -->
<project-teaser ng-click="loadApp('vanGo')" projecttitle="VanGo">Everything Van needs to know to get him to work on time.</project-teaser>
<project-teaser ng-click="loadApp('vanSurfs')" projecttitle="VanSurfs">Happiness measured in sunshine, saltwater and swells.</project-teaser>
<project-teaser ng-click="loadApp('vanEats')" projecttitle="VanEats">Banh mi, fish tacos and chicken tikka masala served from the side of a truck.</project-teaser>


<!-- footer -->
<div class="footer">
  <div class="container center-text">
    <img src="images/littlevan-footer.png" height="32" width="32">
  </div>
</div>
